@import "fontvazir.css";

* {
    font-family: vazir;
    transition: 1s;
    color: #fff;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #252932 !important;
    background: url("../img/backimg-min.jpg")  no-repeat center center ;
    background-size: contain;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}






.contact-form {
    background-color: rgba(37, 41, 50, 0.9);
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.crtl {
    direction: rtl;
}

input,
textarea {
    background-color: rgba(37, 41, 50, 0.9) !important;
    color: white !important;
    border: 1px solid rgb(35, 107, 141) !important;
    resize: none;
}

#avatar {
    width: 5rem;
    border-radius: 50%;
    margin: auto;
    margin-top: -59px  ;
    border: 3px solid rgb(35, 107, 141);


}

#avatar:hover {
    box-shadow: 0 0 10px 10px rgb(35, 107, 141);
}

.avatar-box {
    display: flex;
    justify-content: center;
}

h2 {
    font-size: medium;
}


label {
    font-size: small;
}

form {
    padding: 20px 30px 0 30px;
}

.step {
    display: none;
}

.move-to-right {
    display: flex;
    justify-content: end;
    flex-direction: row-reverse;
    gap: 32px
}

.cd-none {
    display: none;
}

.error-msg-box {
    margin: 15px 25px;
}


input:focus,
textarea:focus {
    box-shadow: 0 0 3px 3px rgb(35, 107, 141) !important;

}